.content-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.content-container h1 {
    color: #493944;
}

.content-container p {
    color: #493944;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #493944;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.submit-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #493944;
    color: #c6edf3;
    border: none;
    border-radius: 5px;
}