body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c6edf3;
    text-align: center;
}

.header {
    background-color: #493944;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px; 
    height: auto;
}

.button-bar {
    display: flex;
    gap: 10px;
    align-items: center;
}

#explore-button2 {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #493944;
    color: #c6edf3;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.nav-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #c6edf3;
    color: #493944;
    border: none;
    border-radius: 5px;
}
.welcome-message {
    font-family: Arial, sans-serif;
    font-size: 1em; 
    line-height: 40px; 
    color: #c6edf3;
}

.image-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.doghome {
    width: 100%;
    height: auto;
}


.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #c6edf3a6; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-text {
    color: #493944; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.overlay-text h1 {
    font-size: 2em;
    margin: 0;
}

.overlay-text p {
    font-size: 1.2em;
    margin: 10px 0;
}

.content-container {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.content-container h1, .content-container h2 {
    color: #493944;
}

.content-container p, .content-container ul {
    color: #493944;
}

.content-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* design for smaller screens */
@media (max-width: 600px) {
    .overlay-container {
        width: 100%;
        height: 100%;
    }
    .overlay-text h1 {
        font-size: 1.5em;
    }
    .overlay-text p {
        font-size: 1em;
    }
    .explore-button {
        font-size: 0.9em;
    }
    .content-container {
        padding: 10px;
        margin: 10px;
    }
}
